

.home-content {
	position: absolute;
	width: 100vw;
	height: calc(100vh);
	margin-top: -50px;
	z-index: 101;
    display: flex;
	justify-content: center;
	align-items: center;
}

.home-content div{
	-webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
    filter: brightness(100%);
	z-index: 11;
	padding: 0;
	margin: 0;
	color: white;
	text-align: center;

}

.home-content h1{
	font-size: 70px;
	font-weight: bold;
}

.home-content button {
	font-weight: normal;
	display: inline-block;
	background-color: #e8e85b;
	opacity: .8 !important;
	padding: 10px 20px;
	color: black;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.home-content button:hover {
	background-color: #3a3030;
	opacity: .8;
	color: white;
	
}