.navbar {
    z-index: 1000;
    opacity: 0.8 !important;
    border: none !important;
    border-radius: 0;
}

/*
.navbar {
    margin-bottom: 0;
    height: 50px;
    background-color: #e8e85b;
    border: none;
    border-radius: 0;
    opacity: 0.8 !important;
    z-index: 1000;
}

.navbar-default .navbar-header span {
    color: black;
}

.navbar-default .navbar-nav .active a {
    color: black;
    background-color: #e8e85b;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar-default .navbar-nav .active a:focus {
    color: black;
    background-color: #e8e85b;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar-default .navbar-nav .active a:hover {
    color: white;
    background-color: #3a3030;
}

.navbar-default .navbar-nav li a {
    color: black;
    background-color: #e8e85b;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar-default .navbar-nav li a:focus {
    color: black;
    background-color: #e8e85b;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar-default .navbar-nav li a:hover, a:focus {
    color: white;
    background-color: #3a3030;
}

.navbar-toggle.collapsed .icon-bar {
    color: black;
}

.navbar-default .navbar-header button {
    background-color: #e8e85b;
    border-color: black;
}

.navbar-default .navbar-collapse {
    border: none !important;
}

div.navbar-collapse ul.nav {
    margin-top: 0;
    margin-bottom: 0;
} */