.header-bar ul {
    list-style: none;
    size: 100vw;
    margin: 0px;
    padding: 0px;
    top: 0;
    width: 100%;
    left: 150px;
    background-color: #e8e85b;
    position: fixed;
    
}

li {
	float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    background-color: #e8e85b;
    transition: background-color 0.5s ease, color 0.5s ease;
}

li:hover {
    color: white;
	background-color: #3a3030;
}

.header-bar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: #e8e85b;
    z-index: 9001;
    opacity: .8;
}