html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.main-content {
  padding-top: 50px;
}

.background {
  position: fixed;
  width: 100vw;
  height: calc(100vh);
  top: 0;
  z-index: 100;
  -webkit-filter: brightness(35%);
  -moz-filter: brightness(35%);
  -o-filter: brightness(35%);
  -ms-filter: brightness(35%);
  filter: brightness(35%);
}


.App {
  font-family: 'Merriweather Sans', sans-serif;
}
